* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

:focus {
 background-color:wheat;
}

body { background: linear-gradient(90deg, rgb(255, 215, 54) 0%, rgb(255, 106, 0) 100%);
  font: 16px Arial;
  height: 100%;
}

.wrapper {
  max-width: 350px;
  margin: 350px auto;
}
input, li {
  text-align: left;
}

.wrapper .search-container {
  position: relative;
  background: rgb(255, 106, 0);
  opacity: .7;
  border-radius: 5px;
}

.search-container input {
  height: 55px;
  width: 100%;
  outline: none;
  border-style: solid;
  border-radius: 0px;
  padding: 0 30px 0 20px;
  font-size: 18px;
}

.search-container .suggestions {
  padding: 0px;
  max-height: 280px;
  overflow-y: auto;
  pointer-events: none;
  opacity: 0;
}

.search-container.active .suggestions {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.suggestions li {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  display: none;
}

.search-container.active .suggestions li {
  display: block;
}

.suggestions li:hover {
  background: peachpuff;
}